.Select {

}

.dropdown-menu {
    width: 100%;
}

.Select .dropdown-value, .Select .dropdown-menu>li>a {
	overflow: hidden;
	text-overflow: ellipsis;
}

.Select .dropdown-value {
	display: inline-block;
	width: 85%;
	vertical-align: middle;
}