.select {

}

.select .dropdown-menu {
    width: 100%;
}

.select .dropdown-value, .select .dropdown-menu>li>a {
    overflow: hidden;
    text-overflow: ellipsis;
}

.select .dropdown-value {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    padding-right: 12px;
}

.select .caret-wrapper {
    position: absolute;
    right: 12px;
}

.select > div.dropdown > ul {
    max-height: 400px;
    overflow: auto;
    z-index: 200;
}
